<div class='container'>
<br><br><br>
<% if !@inventory.empty? %>
	<% @inventory.each do |item| %>
		<%= item.ingredient_id %>
	<% end %>
<% else %>
	<p>No inventories found!</p>
<% end %>
<%= link_to 'Add to inventory?', new_inventory_path %>
