<div class='container'>
<br><br><br>

Ben, this is where you'll write your view for the csv upload form. This is found in app/views/stocks/csv.html.erb
<br>
This info for this page is in the Stocks Controller under the csv action. You might have to fiddle around there for a bit.
<br>
Also, you'll probably have to write another action in the Stocks Controller for the actual uploading/updating.
</div>
