<div class='container'>
<br><br><br>

This file uploader is for CSV files in the following format:<br><br>
The first row is comprised of headers.<br>
The first column is for the name of the ingredient to be imported.<br>
The second column is for the quantity of the ingredient imported.<br>
<% if current_user.user_type == 'restaurant' %>
	The third column is for the threshold of deciding when an item is low on stock.
<% end %>


<p>
<%= form_tag import_stocks_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", :class=>'btn' %>
<% end %>

</p>
</div>
