<div class='container'>
<br><br><br>

<% if @stock.empty? %>
	<p>Inventory appears to be empty!</p>
<% else %>
	<% @stock.each do |s| %>
		<%= link_to s.ingredient_name, stock_path(s) %>
		<% if s.quantity < s.low_quantity %>
			<%= p " - This item is low on stock!" %>
		<% end %><br>
	<% end %>
<% end %>
<br>
<%= link_to "Add an item to your Inventory", new_stock_path %><br>
<%= link_to "Edit Inventory via CSV", stocks_csv_path %>
</div>
