<div class='container'>
	<br><br><br>

	<table class="table table-bordered">
		<tr>
			<td>Ingredient Imported</td>
			<td>Quantity Imported</td>
		<% if current_user.user_type == 'restaurant' %>
			<td>Threshold for Buying More</td>
		<% end %>
		</tr>
		<% @stocks.each do |s| %>
			<tr>
				<td><%= s.ingredient_name %></td>
				<td><%= s.quantity %></td>
		<% if current_user.user_type == 'restaurant' %>
				<td><%= s.low_quantity %></td>
		<% end %>
			</tr>
		<% end %>
	</table>

	<%= link_to "View Inventory", stock_show_path(current_user.id) %>
</div>
