<div class="container">
<br><br>
<br>
<%= link_to 'Edit Menu', 'food', :class=>"edit_link", :style => 'font-size:45px !important;' %><br><br>
<%= link_to 'Edit Inventory', inventory_show_path, :class=>"edit_link", :style => 'font-size:45px !important;' %>
<br><br>
<%= render 'form' %>
</div>
