<div class="container">
<br><br>
user index
<h1>agenda</h1>
<h2>new features:</h2>
<h3>fnordMetric, guest_user</h3>
<h2>improve features:</h2>
<h3>activities[implement SimpleDelegator]</h3>
<h3>search[autocomplete, datatables, tagging, sunspot, elastic search]</h3>

<h4>Import Products</h4>
	<%= form_tag import_users_path, multipart: true do %>
 		<%= file_field_tag :file %>
		<%= submit_tag "Import" %>
	<% end %>

</div>
