

	<h3>List of Supplies:</h3>
	<% @user.food.each do |item| %> 
		<%= link_to item.fname, food_path(:id => item.food_id) %><br>
	<% end %>
	<% if @user.food.nil? || @user.food.empty? %>
	  No foods added yet.
	<% end %>
</ul>
