


<div id="myCarousel" class="carousel slide" data-pause="remove">
  <div class="carousel-inner">
    
    <div class="item active">
      <%= image_tag 'backdrop-1.jpg', :class => 'carousel_image' %>
      <div class="container jetstrap-highlighted"> 
    	  	<div class="hero-middle">
      		  <%= image_tag 'logo.png', { :class => 'logo'} %>
      		</div>
      </div>
    </div>
  </div>
</div>

<div class="container marketing">
  <div class="row">
  <div class="featurette">
    
    <iframe class="featurette-image pull-right" src="http://player.vimeo.com/video/63669069?portrait=0&amp;color=05aaff" width="600" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <h2 class="featurette-heading" style="font-size: 40px; color:#05aaff">Cooperat.es <span class="muted">is the world's first B2B partnership automation platform.</span></h2>
    
  </div>

  <hr class="featurette-divider">
    <div class="span4">
      <h2>Centralize your stock</h2>
      <p>Change the way you think about your stock. Instead of a disjoint collection of goods from different suppliers, you can now centralize them in one place through the Cooperates&trade; platform.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <h2>Search for new suppliers</h2>
      <p>Our customizable search lets you locate new suppliers or restaurants with similar needs. Enhanced location-based search enables you to connect with other businesses effortlessly.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <h2>Manage your inventory</h2>
      <p>If you're a supplier, Cooperates&trade; will help you manage your inventory and make transactions like never before. If you're a restaurant, you can now manage your inventory down to the last piece of lettuce, and our enhanced notification system means you will always know when it's time to replenish your ingredients.</p>
    <br><br>
    </div>
  </div>

</div>
