<div class="container">
<br><br><br>

<% if @food.empty? %>
	<p>No Foods found!</p>
<% else %>
	<table>
		<tr>
			<td><strong>Food</strong></td>
			<td><strong>Price</strong></td>
		</tr>
		<% @food.each do |food| %>
			<tr>
				<td><%= link_to food.name, food_path(food.id) %></td>
				<td>$<%= number_with_precision(food.price, :precision => 2) %></td>
			<tr>
		<% end %><br>
	</table>
<% end %>
<p><%= link_to "Add food?", new_food_path %></p>
